.grid.container{
    width: 1440px;
    height: 3035px;
    top: -513px;
    left: -721px;
    display: grid;

    border: 1xp solid black;
    background-color: #ce31f5;
}

.cuadrado1{
    width: 1440px;
    height: 42px;

    background-color: #F5F5F5;
}

.Texto{
    font-size: 14px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;

}

.Frames{
    justify-content: space-between;
    position: absolute;
}

.Deliver{
    width: 136;
height: 18;
top: 12px;
left: 910px;
gap: 6px;
text-align: end;

}

.Order{
width: 128;
height: 18;
top: 12px;
left: 1078px;
gap: 6px;
text-align: end;

}

.All{
    width: 128;
height: 18;
top: 12px;
left: 1078px;
gap: 6px;
text-align: end;
}