.principal{
    background-color: blueviolet;
    width: 1440;
height: 3035;
top: -513px;
left: -721px;

}
.cuadrado1 {
    width: 1440px;
    height: 42px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Texto {
    font-size: 14px;
    color: #666666;
}

.Deliver, .Order, .All {
    width: auto;
    height: 18px;
    align-items: end;
}


.rectangulo24 {
    width: 1440px;
    height: 592px;
    top: 2443px;
    background-color: rgba(0, 142, 204, 1);
}

.cuadradoAzul{
    width: 1201;
height: 316;
top: 220px;
left: 120px;
border-radius: 16px;

}